<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default_cust">

<head>
<title>Customer</title>
</head>

<body>
	<div layout:fragment="content" class="page-create">
		<br><br>
			<div class="row g-4">
				<div class="col-md-4" th:each="data : ${datalist}">
					<div class="card">
						<a th:href="@{'/customer/pack/details/'+${data.packageId}}"> <img
							th:src="'/uploads/'+${data.imgUrl}" class="card-img-top"
							style="height: 200px">
						</a>
						<div class="card-body row">
							<div class="col-md-8" style='text-align:left' th:text="${data.packageName}"></div>
							<div class="col-md-4">
								<a th:href="@{'/customer/pack/details/'+${data.packageId}}" class="text-danger text-decoration-none">
									Details </a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</body>

</html>